<div class="app-container">

    <header class="main-header">
        <a class="no-sel" routerLink="/">Lulu Admin Panel</a> 
    </header>

    <main class="main-container">

        <aside class="main-container__aside">
            <nav class="main-nav">
                <a class="main-nav__item" routerLinkActive="active" routerLink="/statuses">Statuses</a>
                <a class="main-nav__item" routerLinkActive="active" routerLink="/quizes">Quizes</a>
                <a class="main-nav__item" routerLinkActive="active" routerLink="/something">Something that doesnt exist</a>
            </nav>
        </aside>

        <section class="main-container__content">
            <router-outlet></router-outlet>
        </section>

    </main>

</div>