<form class="dialog_form" [formGroup]="form" autocomplete="off">

    <div class="dialog_form__header">
        <h2 class="dialog_form__title">{{title}}</h2>
        <p class="dialog_form__desc">{{data.activity}}</p>
    </div>

    <div class="dialog_form__body">

        <article class="input-group">
            <label class="input-group__label" [class.error]="status_text.dirty && status_text.invalid" for="status_text">
                Status text
                <small *ngIf="status_text.dirty && status_text.invalid"> - Required field</small>
            </label>
            <input class="default-input" type="text" id="status_text" formControlName="status_text">
        </article>

    </div>

    <mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate"></mat-progress-bar>

    <div class="dialog_form__footer">
        <button class="default-btn btn-cancel" [disabled]="loading" (click)="cancel()">Cancel</button>
        <button mat-flat-button color="accent" class="default-btn btn-confirm" [disabled]="loading" (click)="save()">Save</button>
    </div>
    
</form>