/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
html {
    --app-pink: #ff4081;
    --app-grey-1: #202225;
    --app-grey-2: #2f3136;
    --app-grey-3: #36393f;
}
body {
    margin: 0;
    background: var(--app-grey-1);
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
a {
    text-decoration: inherit;
    color: inherit;
    font: inherit;
}
input {
    outline: none;
    border: none;
    font: inherit;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        margin-left: 20px;
    }
}

.flex {
    display: flex;
}
.flex-c {
    display: flex;
    align-items: center;
}
.no-sel {
    user-select: none;
}
.mat-flat-button.mat-accent {
    background-color: var(--app-pink);
}
.mat-dialog-container {
    background: var(--app-grey-3);
    box-shadow: none;
    padding: 0 !important;
}

.relative-page {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    padding: 25px;
    box-sizing: border-box;
    &__title {
        font-size: 42px !important;
        margin-bottom: 20px !important;
        color: #fff;
    }
    &__desc {
        margin: 20px 0 !important;
        font-size: 16px;
        color: #8e9297;
    }
    &__loader {
        margin: 20px 0;
    }
}

.default-input {
    width: 100%;
    color:#fff;
    box-sizing: border-box;
    height: 40px;
    padding: 10px;
    background: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.3);
    outline: none;
    border-radius: 3px;
    transition: border-color .2s ease-in-out;
    
    &:focus {
        border-color: var(--app-pink);
    }
}

.input-group {
    &__label {
        display: block;
        color: #8e9297;
        margin-bottom: 8px;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        &.error {
            color: #F04747;
        }
        small {
            font-size: inherit;
            font-style: italic;
            text-transform: none;
        }
    }
}

.dialog_form {
    width: 500px;
    color: #fff;
    &__title {
        font-size: 24px;
        line-height: 30px;
        margin: 0 !important;
    }
    &__desc {
        margin: 8px 0 0 0 !important;
        color: #b9bbbe;
        font-size: 16px;
        line-height: 20px;
    }
    &__interaction {
        background: var(--app-grey-2);
    }
    &__header {
        padding: 24px 16px;
    }
    &__body {
        padding: 0 16px 16px;
        .input-group:not(:first-child) {
            margin-top: 10px;
        }
    }
    &__footer {
        display: flex;
        padding: 16px;
        background: var(--app-grey-2);
        .btn-cancel {
            margin: 0 10px 0 auto;
        }
    }
}

.btn-confirm,
.btn-cancel {
    height: 38px;
    width: auto;
    outline: none;
    border: none;
    font-size: 16px;
    line-height: 16px;
    padding: 2px 16px;
    user-select: none;
    color: #fff;
    cursor: pointer;
    background: none;
    border-radius: 3px;
}

.btn-confirm {
    font-weight: 400;
    // background-color: var(--app-pink);
    // transition: background-color .17s ease,color .17s ease;
    // &:hover {
    //     background-color: darken(#ff4081, 10);
    // }
}
.btn-cancel {
    &:hover {
        text-decoration: underline;
    }
}